{% extends 'base.html' %} 
{%load static %}

<!--Start of content-->
{%block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  {% include 'includes/alerts.html' %}

  <div class="container">
    <div class="row">
      <!--   SIDEBAR   -->
      {% include 'includes/dashboard_sidebar.html' %}
      <!--   Main block Header  -->
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Logged in as : </strong>
            <span>{{user.full_name}}</span>

          <!--   Main block   -->
          </header>
          <div class="card-body">
            <div class="row">

              <div class="col-md-6">
                <div class="card-body" style="text-align:center;">
                  <h5 class="card-title"> Total Orders </h5>
                  <h4> {{orders_count}} </h4>
                  <a href="{% url 'my_orders'%}">View Orders</a>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card-body" style="text-align:center;">
                  <img src="{{ userprofile.profile_picture.url }}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
                  <p class="mb-0">Email : {{user.email}}</p>
                  <p class="mb-0">Contact : {{user.phone_number}}</p>                  
                </div>
              </div>               
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->


        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
